In [1]:
import pandas as pd

In [2]:
df_activity = pd.read_csv("3_clean_datasets/activity_id.csv")
df_sex = pd.read_csv("3_clean_datasets/sex_id.csv")
df_studies = pd.read_csv("3_clean_datasets/studies_id.csv")
df_visa_type = pd.read_csv("3_clean_datasets/visa_type.csv")
df_comunas = pd.read_csv("3_clean_datasets/comunas_data.csv", encoding='latin-1', sep=";")
df_visas = pd.read_csv("3_clean_datasets/visas.csv")
df_comunas_coord = pd.read_csv("3_clean_datasets/comunas_coord.csv", decimal=",")

In [3]:
df_visas.shape
df_comunas.shape

#df_comunas.pop("region_id")
#df_comunas.pop("region_name")
#df_comunas.pop("comuna_customs_id")
#df_comunas.pop("comuna_tax_office_id")

(348, 2)

In [4]:
df_comunas.head()

   comuna_datachile_id   comuna_name
0                  226  Pozo Almonte
1                  217          Pica
2                  113       Iquique
3                  108         Huara
4                   58      Colchane

In [5]:

df_comunas_coord.head()

   Unnamed: 0  comuna_id  region_id         nombre  latitud  longitud
0           0          1          1          Arica -18.4707  -70.2945
1           1          2          1      Camarones -18.9191  -69.4532
2           2          3          1  General Lagos -17.7863  -69.5452
3           3          4          1          Putre -18.2052  -69.4946
4           4          5          2  Alto Hospicio -20.2418  -70.0762